<section class="main-bg page1 ">
    <header>
        <div class="col-md-12 col-sm-12 col-xs-12 p10">
            <div class="col-md-6 col-sm-6 col-xs-12 logo">
                <div id="image-outlay">
                    <a id="logo" (click)="uploadImage(imgElement)">
                        <img #imgElement src="assets/images/logo-new.png" alt="Company Logo"/>
                        <i class="fa fa-camera" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End-->
    <section class="main-section bg-style">
        <!-- Content Section-->
        <div class="container text-center">
            <div class="landing-page">
                <h1 class="main-head" (mouseup)="checkforSelection($event)" style="outline: none"
                    contenteditable="true" [textContent]="page.control?.mainheading" (input)="setMainHeading($event)">
                </h1>
                <p class="sub-head" (mouseup)="checkforSelection($event)"
                   style="outline: none;font-style:normal" contenteditable="true"
                   [textContent]="page.control?.subheading" (input)="setSubHeading($event)"></p>
                <p class="description"></p>
                <div class="input-section">
                    <input type="text" [placeholder]="page.control?.inputname"
                           (keyup)="setInputName($event)" (blur)="$event.target.value = ''">
                    <input type="email" [placeholder]="page.control?.inputemail" (keyup)="setInputEmail($event)"
                           (blur)="$event.target.value=''">
                </div>
                <!--  <div id="highlight_menu" style="display:none">
                   <submitButton (click)="format($event,'bold')"><i class="fa fa-bold"></i></submitButton>
                   <submitButton href="#" (click)="format($event,'italic')"><i class="fa fa-italic"></i></submitButton>
                   <submitButton href="#" (click)="format($event,'underline')"><i class="fa fa-underline"></i></submitButton>
                 </div> -->
                <button class="btn prime-action  next-step sliding-next " data-slide="2" contenteditable="true"
                        [textContent]="page.control?.submitButton" (input)="setSubmitButton($event)">
                </button>
            </div>
        </div>
        <!-- Content Section end-->
    </section>
</section>
<div id="highlight_menu" style="display:none">
    <ul class="side-by-side">
        <li class="pointer"><span (click)="format($event,'bold')"><i class="fa fa-bold"></i></span></li>
        <li class="pointer"><span (click)="format($event,'italic')"><i class="fa fa-italic"></i></span></li>
        <li class="pointer"><span (click)="format($event,'underline')"><i class="fa fa-underline"></i></span></li>
    </ul>
    <div class="caret">
    </div>