<section class="main-bg page1 ">
    <header>
        <div class="col-md-12 col-sm-12 col-xs-12 p10">
            <div class="col-md-6 col-sm-6 col-xs-12 logo">
                <div id="image-outlay">
                    <a id="logo" (click)="uploadImage(imgElement)">
                        <img #imgElement src="assets/images/logo-new.png" alt="Company Logo"/>
                        <i class="fa fa-camera" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End-->
    <section class="main-section bg-style">
        <!-- Content Section-->
        <div class="container text-center">
            <div class="landing-page">
                <h1 #head id="main-heading" class="main-head" [froalaEditor]="options"
                    [(froalaModel)]="page.control.mainheading"
                    (froalaModelChange)="updateModel(leadGenerationControlKeys.MAIN_HEADING,$event)">
                </h1>
                <p #subHead class="sub-head" id="sub-heading" [froalaEditor]="options"
                   [(froalaModel)]="page.control.subheading"
                   (froalaModelChange)="updateModel(leadGenerationControlKeys.SUB_HEADING,$event)"></p>
                <p class="description"></p>
                <div class="input-section">
                    <input type="text" [placeholder]="page.control.inputname"
                           (click)="$event.target.value = $event.target.placeholder;"
                           (keyup)="setInputName($event)" (blur)="$event.target.value = ''">
                    <input type="email" [placeholder]="page.control.inputemail" (keyup)="setInputEmail($event)"
                           (blur)="$event.target.value=''" (click)="$event.target.value = $event.target.placeholder;">
                </div>
                <button class="btn prime-action  next-step sliding-next" contenteditable="true"
                        [(editable)]="page.control.submitbutton"
                        [innerHTML]="page.control.submitButton">
                </button>
            </div>
        </div>
        <!-- Content Section end-->
    </section>
</section>
<toolbar (updatedDom)="textReceived($event)"></toolbar>
