<div *ngFor="let page of jsonTemplate.pages;let page_index=index"
     [ngStyle]="{'background-image': 'url(' + page.bgImage + ')'}">
    <div *ngIf="page.pagetype=='Landing'">
        <div *ngFor="let section of page.sections;let sec_index=index">
            <div class="container" *ngIf="page.sections[sec_index].title!='Logo Heading'">
                <div class="landing-page">
                    <div *ngFor="let control of page.sections[sec_index].items;let item_index=index">
                        <control [page]="page" [data]="control" (controlOutput)="notifyChanges($event)">
                        </control>
                    </div>
                </div>
            </div> 
            <div *ngIf="page.sections[sec_index].title=='Logo Heading'">
                <div *ngFor="let control of page.sections[sec_index].items;let item_index=index">
                        <control [page]="page" [data]="control" (controlOutput)="notifyChanges($event)">
                        </control>
                 </div>
            </div>   
        </div>
    </div>
</div>


