<div *ngFor="let page of pages;let page_index=index" [ngStyle]="{'background-image': 'url(' + page.bgImage + ')'}" >
    <div *ngIf="page.pagetype=='Landing'" style="margin:15px 0">
        <div *ngFor="let section of page.sections;let sec_index=index">
            <div *ngFor="let control of page.sections[sec_index].items;let item_index=index">
                <control [page]="page" 
                 [data]="control" (Updater)="setChanges($event)" >
                  <!-- [secIndex]="sec_index" [index]="item_index">-->
                </control>
            </div>
            <!--<control [page] ="page" [data]="control"
                     (mousedown)="selectpage(page)"
                     (click)="selectModel($event,'Page')"
                     (controlOutput)="onLeadFormSubmit($event,'page_'+(pageIndex+1),'page_'+(pageIndex))"
                     [devMode]="devMode"   *ngIf="control.visible && control.type == 'leadform'" >
            </control>
            <control  [data]="control"

                      [devMode]="devMode"
                      (controlOutput)="onLeadFormSubmit($event,'page_'+(pageIndex+1),'page_'+(pageIndex))"
                      *ngIf="control.visible && control.type !== 'leadform'" >
            </control>-->

        </div>
    </div>
</div>


