<one-page-slider [jsonTemplate]="jsonTemplate"></one-page-slider>
<div class="container-fluid">
    <div class="row main-section bg-style text-center">
        <div class="col-xs-6 col-sm-6">
            <div class="linkCard" (click)='calculatorOn=true'>Calculator Components</div>
        </div>
        <div class="col-xs-6 col-sm-6">
            <div class="linkCard" (click)='calculatorOn=false'>Media Components</div>
        </div>
    </div>
    <div *ngIf="calculatorOn" class="row main-section bg-style text-center">
        <div class="col-xs-4 col-sm-4">
            <div class="linkCard" (click)='createPage("Landing")'> welcome Page</div>
        </div>
        <div class="col-xs-4 col-sm-4">
            <div class="linkCard" (click)="createPage('Question')">Question Page</div>
        </div>
        <div class="col-xs-4 col-sm-4" (click)="createPage('Result')">
            <div class="linkCard"> Result Page</div>
        </div>
    </div>
    <div *ngIf="!calculatorOn" class="row main-section bg-style text-center">
        <div class="col-xs-4 col-sm-4">
            <div class="linkCard" (click)="createPage('MediaForms')"> Forms</div>
        </div>
        <div class="col-xs-4 col-sm-4">

            <div class="linkCard" (click)="createPage('MediaGraphs')">Graphs</div>
        </div>
        <div class="col-xs-4 col-sm-4" (click)="createPage('MediaVideos')">
            <div class="linkCard">Videos</div>
        </div>
    </div>

    <div *ngIf="graphVisible">
        <div style="display: block">
            <canvas baseChart
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"
            ></canvas>
        </div>
    </div>
</div>
<!--<div *ngIf="openForm">
<input #in type="text" >
<button (click)="srcElement=in.value;showDiv=true">create</button>
</div>
<div *ngIf="showDiv" class="container-fluid">
        <iframe [src]='srcElement | urlSafe' width="600" height="400"> </iframe>
</div>-->