<one-page-slider [jsonTemplate]="jsonTemplate"></one-page-slider>
<div class="container-fluid">
    <div class="row main-section bg-style text-center">
        <div class="col-xs-6 col-sm-6">
            <div class="linkCard" (click)='CalculatorOn=true'>Calculator Components</div>
        </div>
        <div class="col-xs-6 col-sm-6">
            <div class="linkCard" (click)='CalculatorOn=false'>Media Components</div>
        </div>
    </div>
    <div *ngIf="CalculatorOn" class="row main-section bg-style text-center">
        <div class="col-xs-4 col-sm-4">
            <div class="linkCard" (click)='createPage("Landing")'> welcome Page</div>
        </div>
        <div class="col-xs-4 col-sm-4">
            <div class="linkCard" (click)="createPage('Question')">Question Page</div>
        </div>
        <div class="col-xs-4 col-sm-4" (click)="createPage('Result')">
            <div class="linkCard"> Result Page</div>
        </div>
    </div>
    <div *ngIf="!CalculatorOn" class="row main-section bg-style text-center">
        <div class="col-xs-4 col-sm-4">
            <div class="linkCard" (click)='openForm=true'> Forms</div>
        </div>
        <div class="col-xs-4 col-sm-4">
            <div class="linkCard" (click)="createPage('Question')">Graphs</div>
        </div>
        <div class="col-xs-4 col-sm-4" (click)="createPage('Result')">
            <div class="linkCard">Videos</div>
        </div>
    </div>
</div>
<div *ngIf="openForm">
<input #in type="text" >
<button (click)="srcElement=in.value;showDiv=true">create</button>
</div>
<div *ngIf="showDiv" class="container-fluid">
    <object [data]='getUrl()' width="600" height="400">
        <embed [src]='getUrl()' width="600" height="400"> 
        Error: Embedded data could not be displayed.
    </object>
    <!--<iframe width="600px" height="600px" [src]="srcElement | urlSafe"></iframe>-->
</div>